---
layout: page
---

<div class="title-container">
  <h1><b>{{ page.title }}</b></h1>

  <!-- 언어 전환 버튼 -->
  <div class="language-toggle">
    <button id="toggle-ko" class="styled-button">View in English</button>
    <button id="toggle-en" class="styled-button" style="display: none;">한국어로 보기</button>
  </div>
</div>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -
  <b>
    {%- assign words = content | number_of_words -%}
    {%- if words < 360 -%}
      less than 1 min read time
    {%- else -%}
      {{ words | divided_by: 180 }} mins read time
    {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags:
    {% for tag in page.tags %}
      <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
        <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
      </a>
    {% endfor %}
  {%- endif -%}
</p>

<!-- 마크다운 내용 표시 -->
{{ content | markdownify }}

<script>
  const btnKo = document.getElementById("toggle-ko");
  const btnEn = document.getElementById("toggle-en");
  const contentKo = document.getElementById("content-ko");
  const contentEn = document.getElementById("content-en");

  // Set initial state to show Korean content by default
  contentKo.style.display = "block";
  contentEn.style.display = "none";
  btnKo.style.display = "inline-block";
  btnEn.style.display = "none";

  // Event listeners to toggle language
  btnKo.addEventListener("click", () => {
    contentKo.style.display = "none";
    contentEn.style.display = "block";
    btnKo.style.display = "none";
    btnEn.style.display = "inline-block";
  });

  btnEn.addEventListener("click", () => {
    contentKo.style.display = "block";
    contentEn.style.display = "none";
    btnKo.style.display = "inline-block";
    btnEn.style.display = "none";
  });
</script>

<style>
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .language-toggle {
    display: flex;
    gap: 8px; /* Space between buttons */
  }

  .styled-button {
    background-color: transparent; /* Transparent background */
    color: #000000; /* Black text color */
    border: 2px solid #000000; /* Black border */
    padding: 8px 20px; /* Adjust padding for size */
    font-size: 16px; /* Adjust font size */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  }

  .styled-button:hover {
    background-color: #000000; /* Black background on hover */
    color: #fff; /* White text on hover */
  }
</style>